{{#exercises}}
{{#if cardio}}
<li>{{name}}: {{distance}} miles ({{duration}} minutes)</li>
{{!-- <br> --}}
{{else}}
<li>{{name}} ({{weight}}lbs): {{reps}} reps for {{sets}} sets. ({{duration}} min)</li>
{{/if}}
{{/exercises}}